{% extends "base.jinja" %}
{% block content %}
<h2><a href="/posts/{{ g.domain.domain }}">{{ g.domain.domain }}</a></h2>
<p>First seen on {{ g.domain.created }}</p>
<p>Last updated on {{ g.domain.updated }}</p>
<p>Currently storing {{ g.domain.postCount }} post(s)</p>
<ul>
{% for post in g.domain.posts %}
<li><a href="/posts/{{ post }}">{{ post }}</li>
{% endfor %}
</ul>

{% endblock content %}
