{% extends "base.jinja" %}
{% block content %}
<script type="text/javascript" src="/static/pushstream.js"></script>

{% for item in g.posts %}
<p>{{ item.created }} <a href="/posts/{{ item.post }}">{{ item.post }}</a></p>
{% endfor %}


<div id="messages" style="width:800px;height:300px;overflow:scroll;"></div>

    <script type="text/javascript" language="javascript" charset="utf-8">
    // <![CDATA[
    function messageReceived(text, id, channel) {
      document.getElementById('messages').innerHTML += id + ': ' + text + '<br>';
    };

    var pushstream = new PushStream({
      host: window.location.hostname,
      port: window.location.port,
      modes: "eventsource"
    });
    pushstream.onmessage = messageReceived;
    pushstream.addChannel('push');
    pushstream.connect();
    // ]]>
    </script>
</div>

{% endblock content %}
