{% extends "base.jinja" %}
{% block content %}

<h2><a href="/posts/{{ g.post.id }}">{{ g.post.source }}</a></h2>
<p>Added on {{ g.post.created }}</p>
<p>Original URL {{ g.post.source }}</p>

{% endblock content %}
